
header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2.8rem;
    color: #a66377;
}

nav a {
    text-decoration: none;
    color: #444;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
    font-size: 0.95rem;
}

nav a:hover {
    background: #a66377;
    color: #fff;
}


.about {
    max-width: 480px;
    margin: 30px auto;
    padding: 25px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
}

.about h2,
.about h3 {
    color: #a66377;
    text-align: center;
    margin-bottom: 12px;
}

 ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
 } 





footer {
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    color: #777;
    font-size: 0.9rem;
}







