body {
    background:url(images/photo_2025-11-21_09-33-04.jpg) #faf7f7c4;
    
    line-height: 1.7;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 1px solid #ddd;
}

.title {
    font-size: 2.2rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #a66377; /* soft rose color */
}


.navbar {
    margin-top: 10px;
}

.navbar a {
    text-decoration: none;
    color: #444;
    margin: 0 10px;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 20px;
    transition: 0.3s;
}

.navbar a:hover {
    background: #a66377;
    color: white;
}


.hero {
    max-width: 900px;
    margin: 30px auto;
    background:#a66377 ;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.06);
}

.hero p {
    font-size: 10px;
    color: #444;
}
  
#info{
  background-color: aliceblue;
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
    text-align: center;
    margin: 30px 0 10px;
    padding-top: 10px;
    font-size: 0.95rem;
    color:black:
    border-top: 1px solid #ddd;
}