body {
    background: #faf7f7;
    color: #333;
    padding: 0 20px;
}


header {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2rem;
    color: #a66377;
    letter-spacing: 1px;
}

nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #444;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover {
    background: #a66377;
    color: white;
}


.order {
    max-width: 500px;
    margin: 30px auto;
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.order h2 {
    font-size: 1.6rem;
    color: #a66377;
    margin-bottom: 8px;
}

.order p {
    color: #666;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input[type="text"],
form input[type="number"] {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

form input:focus {
    border-color: #a66377;
    box-shadow: 0 0 4px rgba(166, 99, 119, 0.4);
}

form input[type="submit"] {
    background: #a66377;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

form input[type="submit"]:hover {
    background: #8d4e64;
}
 footer {
    text-align: center;
    margin: 30px 0 10px;
    padding-top: 10px;
    font-size: 0.95rem;
    color:black:
    border-top: 1px solid #ddd;
}

@media (max-width: 600px){
    h1{
        font-size: 25px;
    }
    .nav a {
    font-size: 7px;
    font-weight: bold;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    }


