body {
    background: #faf7f7;
    color: #333;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2rem;
    color: #a66377;
    letter-spacing: 1px;
}


nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #444;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

nav a:hover {
    background: #a66377;
    color: white;
}


.contact {
    max-width: 700px;
    margin: 40px auto;
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
}

.contact h2 {
    font-size: 1.8rem;
    color: #a66377;
    margin-bottom: 10px;
}

.contact h3 {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.05rem;
    margin: 8px 0;
    color: #444;
}

.contact p:hover {
    color: #a66377;
    cursor: default;
}
@media (max-width: 600px){
    h1{
        font-size: 25px;
    }
    .nav a  {
    font-size: 8px;
    font-weight: bold;
    padding: 8px;
    margin: 5px 5px 5px 5px;

    }