body {
    background:url(./images/photo_2025-11-21_09-17-14.jpg) #faf7f73c;
    background-repeat:no-repeat;
    
    line-height: 1.7;
    padding: 0 20px;
    background-size: cover;
}

header {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 1px solid #ddd;
}

.title {
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #a66377; /* soft rose color */
}


.nav{
    margin-top: 10px;
}

.nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.nav a:hover {
    background: #a66377;
    color: white;
}


.hero {
    max-width: 900px;
    margin: 30px auto;
    background:#a663775e ;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.06);
}


.hero p {
    font-size: 15px;
    color:black;
    font-weight:900;
}
  
#info{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 250px;
    background-color:black;
    color:white;
    text-align: center;
    width:fit-content;
    margin: auto;
}


footer {
    text-align: center;
    margin: 30px 0 10px;
    padding-top: 10px;
    font-size: 0.95rem;
    color:black:
    border-top: 1px solid #ddd;
}

@media (max-width: 600px){
    h1{
        font-size: 25px;
    }

    .nav a  {
    font-size: 8px;
    font-weight: bold;
    padding: 8px;
    margin: 5px 5px 5px 5px;

    }
    .hero p{
        font-size: 9px;
    }
    #info{
       font-size: 10px;
    }
    footer{
        font-size: 10px;
    }
}