body {
    background: #faf7f7;
    color: #333;
    padding: 0 20px;
}


header {
    text-align: center;
    padding: 20px 0 10px;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 2rem;
    color: #a66377;
    letter-spacing: 1px;
}

#photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    padding: 100px;
}



nav {
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: #444;
    margin: 0 10px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: 0.3s;
}

nav a:hover {
    background: #a66377;
    color: white;
}


.products p {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    line-height: 1.7;
    color: #555;
    font-size: 1.05rem;
}




footer {
    text-align: center;
    margin: 40px 0 20px;
    padding-top: 10px;
    color: #777;
    border-top: 1px solid #ddd;
}

#shifon1{
    width: 300px;
    height: 300px;
    background-image: url('./images/photo_2025-10-07_05-51-58\ \(2\).jpg');
    background-size: cover;
}
#shifon2{
    width: 300px;
    height: 300px;
    background-image: url(./images/photo_2025-11-21_09-17-32.jpg);
    background-size: cover;
}
#shifon3{
    width: 300px;
    height: 300px;
    background-image: url(./images/photo_2025-11-21_09-33-04.jpg);
    background-size: cover;
}
#shifon4{
    width: 300px;
    height: 300px;
    background-image: url(./images/photo_2025-11-21_09-40-25.jpg);
    background-size: cover;
}
#shifon5{
    width: 300px;
    height: 300px;
    background-image: url(./images/photo_2025-11-21_09-40-27\ \(2\).jpg);
    background-size: cover;
}
#shifon6{
    width: 300px;
    height: 300px;
    background-image: url(./images/photo_2025-11-21_09-40-30\ \(2\).jpg);
    background-size: cover;
}
#shifon7{
    width: 300px;
    height: 300px;
    background-image: url(./images/photo_2025-11-21_09-42-41.jpg);
    background-size: cover;
}
#shifon8{
    width: 300px;
    height: 300px;
    background-image: url(./images/photo_2025-11-21_09-40-27.jpg);
    background-size: cover;
}